sudo: true

dist: xenial

language: python

cache:
  directories:
    - $HOME/.cache/pip

matrix:
  include:
    - env: TOXENV=py37-pytest45
      python: 3.7
    - env: TOXENV=py37-pytest41
      python: 3.7
    - env: TOXENV=py37-pytest45-xdist
      python: 3.7
    - env: TOXENV=py37-pytestmaster
      python: 3.7
    - env: TOXENV=py37-pytestfeatures
      python: 3.7
    - env: TOXENV=py35-pytest41
      python: 3.5
    - env: TOXENV=py27-pytest41
      python: 2.7

install:
  - pip install tox

script:
  - tox
