[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-cov = "*"
pytest-testmon = {path = ".",editable = true}
runtime-info = {path = "io.pyri/",editable = true}

[dev-packages]
tox = "*"
pydevd-pycharm = "*"
unittest-mixins = "==1.6"


[requires]
python_version = "3.7"
