[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-cov = "*"
pytest-testmon-dev = {editable = true, path = "."}
pytest-testmon = {editable = true, path = "testmon/"}
runtime-info = {editable = true, path = "io.pyri/" }

[dev-packages]
tox = "*"
pydevd-pycharm = "*"
unittest-mixins = "==1.6"


[requires]
python_version = "3.7"
