[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-testmon = {editable = true, path = "."}
runtime-info = {editable = true, path = "io.pyri/" }

[dev-packages]
tox = "*"

[requires]
python_version = "3.7"
