[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "<4,>=3"
coverage = ">=4"
pytest-xdist = "*"
runtime-info = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.7"
